html {
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 390px) {
    /* .container {
      margin: 0em;
      display: flex;
    }
    img {
        max-width: 100%;
      } */
  }

.menu, .logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    list-style-type: none;
    text-decoration: none;
}

.banner {
    background-image: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-position: top center fixed;
    background-size: cover;
    overflow:  hidden;

    /* no-repeat center center fixed; */
    /* background-size: cover;
    overflow:  hidden;*/
    width: 100%;
    height: 700px;
}

h1, h2, h3 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    /* margin-left: 100px; */
    color: #1A3263;
    text-transform: uppercase;
}

h1 {
    font-size: 48px;
    margin-top: 150px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
    margin-top: 80px;
}

#button {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#apropos, .btn-comments, #submit {
    background-color: #FAB95B;
    color: #1A3263;
    font-weight: bold;
    font-size: 16px;
    height: 40px;
    width: 150px;
    border: none;
    cursor: pointer;
}

.main {
    background-color: #E8E2DB;
    overflow:  hidden;
    text-align: center;   
}

.articles {
    display: flex;
    justify-content: space-around;
}

.article_1, .article_2, .article_3{
    background-color: #FAB95B;
    width: 300px;
    height: 300px;
    margin-top: 80px;
    text-align: center;
} 

.lire {
    background-color: #1A3263;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    height: 30px;
    width: 50px;
}

.com-views-likes {
    display: flex;
    justify-content: space-around;
    margin: 100px;
}

.btn-comments {
    width: 190px;
    height: 40px;
}

#eye-img, #like-img {
    height: 40px;
    width: 40px;
}

.art1_p {
    width: 700px;
    margin-left: 310px;
    display: flex;
    align-self: center;
}

#img-article_1 {
    margin: 100px;
}

.formulaire {
    display: flex;
    justify-content: space-around;
    /* margin: 100px; */
}

#username, #email, #password, #submit {
    margin: 15px;
}

input {
    width: 250px;
    height: 25px;
}
